.sell-container {

    width: 600px;
    margin: 0 auto;
    padding: 20px;

}

.sell-title {

    text-align: center;
    margin-bottom: 40px;

}

.section-title {

    font-weight: bold;
    margin-top: 30px;

}

.image-upload {

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 120px;

    border: 1px dashed #ccc;

    cursor: pointer;

}

.image-upload input {

    display: none;

}

.image-upload span {

    color: red;
    border: 1px solid red;
    padding: 5px 15px;
    border-radius: 5px;

}

.category-group {

    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}

.category-label input {

    display: none;

}

.category-label span {

    border: 1px solid red;
    color: red;

    padding: 5px 12px;

    border-radius: 20px;

    font-size: 12px;

    cursor: pointer;

}

.category-label input:checked+span {

    background: red;
    color: white;

}

.form-input {

    width: 100%;

    padding: 8px;

    border: 1px solid #ccc;

    margin-bottom: 15px;

}

.textarea {

    height: 100px;

}

.sell-button {

    width: 100%;

    background: red;

    color: white;

    border: none;

    padding: 10px;

    margin-top: 20px;

    cursor: pointer;
}

